@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

.App {
  min-height: 100vh;
  display: flex;
  background-image: url("./halftone-background-with-circles_23-2148907689.webp");
  background-size: cover;
  background-position: center;
  color: black;
  box-sizing: border-box;
}
